<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MEO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4476CB9623D3CCC6000F92E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4476CBAC23D3CCC7000F92E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4476CBB723D3CCC7000F92E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
